.codex
.idea/
.php-cs-fixer.cache

/vendor/
/vendor-bin/
/var/
/dist/*
!/dist/*.zip

/shopware/.env
/shopware/.env.dev
/shopware/.env.local
/shopware/.uniqueid.txt
/shopware/install.lock
/shopware/public/bundles/
/shopware/var/
/shopware/vendor/
/shopware/files/
/shopware/custom/plugins/

/node_modules/
